html,body {
    font-family: 'Raleway', sans-serif;
    color: #111;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.flex {
    display: flex;
    overflow: auto;
}

#container {
    height: 100%;
    flex-flow: row wrap;
}

/* Medium screens */
@media all and (min-width: 600px) {
    .tools { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
    #workspace { flex: 1; }
    #workspace { order: 1 }
    #tools     { order: 2; }
}

#workspace {
    padding: 0;
    flex-flow: column wrap;
}

#tools, #header {
    padding: 0 0.5rem;
}

#tools {
    background-color: fff;
    max-width: 20rem;
}

#tools > *:not(h2) {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

#tools > form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#tools > form > .group {
    flex: 1 1 40%;
    margin: 0.25rem;
}

#header {
}

#viewport {
    flex: 1 0 100%;
    flex-flow: row wrap;
    justify-content: space-between;
}

.canvas {
    background: #ccc;
    margin: 0.25rem;
}

#half-breadth, #profile {
    flex: 1 0 100%;
}

#body-plan, #current-section, #rendering {
    flex: 1 0 32%;
}

canvas {
    background: #ddd;
}
